<div class="row mb-5">
    <div class="col-8 mt-2">
        <h3>Student List</h3>
    </div>
    <div class="col-4 mt-2">
        <div class="ml-auto">
            <a href="#" [routerLink]="['/add']" class="btn btn-primary">Add New</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of students;">
            <td>{{s.studentName}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.dateOfBirth | date:'MMM dd, yyyy'}}</td>
            <td>
                <img [src]="url+s.picturePath" alt="profile image" width="50px">
            </td>
            <td>
                <a href="#" [routerLink]="['/edit/'+s.studentId]" class="btn btn-outline-primary">Edit</a> |
                <button (click)="onDelete(s.studentId)" class="btn btn-outline-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
